.button-outlined {
  position: relative;
  padding: 8px 16px;
  margin: 0 auto 5% auto;
  outline: none;
  z-index: 3;
}

.button-outlined:hover {
  color: #f1f1f1;
}

.button-outlined:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  color: #f1f1f1;
  transition: 0.3s ease-in;
}

.button-outlined:hover:before {
  right: 0;
}
